<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
        <meta charset="UTF-8">
    <title>Brewer's Database</title>
    </head>
    <body class="text-center">
        <!-- this is option "A" for the style in the nav bar-->
        <nav class="d-flex justify-content-between align-items-center col-12">
            <h1 class="text-center">{{session["user_name"]}}'s Brews</h1>
            <!-- add for loop for user image / woofy/dashboard.html lines 37-41-->
            <div class="d-flex col-4 justify-content-around">
                <a href="/dashboard" class="btn btn-secondary">Home</a>
                <a href="/recipes/new" class="btn btn-secondary">Create Recipe</a>
                <a href="" class="btn btn-secondary">Edit User</a>
                <a href="/logout" class="btn btn-secondary">Logout</a>
            </div>
        </nav>
        <!-- <div class="container">
            <div class="row">
                <div class="col-9">
                    <h1>'s Brews</h1>
                </div>
                <div class="col-1">
                    <a href="/dashboard">
                        <button class="btn btn-secondary">Home</button>
                    </a>
                </div>
                <div class="col-1">
                    <a href="/recipes/new">
                        <button class="btn btn-secondary">Create Recipe</button>
                    </a>
                </div>
                <div class="col-1">
                    <a href="">
                        <button class="btn btn-secondary">Edit User</button>
                    </a>
                </div>
                <div class="col-1">
                    <form action="/logout" method="post">
                        <button class="btn btn-secondary">Logout</button>
                    </form>
                </div>
            </div>
        </div> -->
        <div class="container">
            <div class="row">
                <div class="col-9">
                    <table class="table">
                        <thead>
                            <tr><th>Name</th><th>Actions</th></tr>
                        </thead>
                        <tbody>
                            {% for recipe in my_recipes: %}
                                <tr>
                                    <td>{{recipe.name}}</td>
                                    <td>
                                        <a href="/recipes/{{recipe.id}}">View Instructions</a>
                                        {% if session["user_id"] == recipe.user_id: %}
                                        <a href="/recipes/edit/{{recipe.id}}">Edit</a>
                                        <a href="/recipes/delete/{{recipe.id}}">Delete</a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="col-3">
                </div>
            </div>
        </div>
    </body>
</html>
