
.index-table{
    margin: 20px auto;
    }

.form-entry{
    margin: 10px;
    display: inline-flex;
    flex-direction: column;
    height: 400px;
}

.clr{
    background-color: rgba(255, 255, 255, .75);
}
body {
    background-image: url("../images/beer_grain.png");
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    color: rgb(108,117,125);
}

h2 {
    color: rgb(108,117,125);
}

th {
    color: rgb(108,117,125);
}

td {
    color: rgb(108,117,125);
}

table, th, td {
    border: 1px solid black;
}
table {
    border-collapse: collapse;
}

p {
    color: white;
}
